body{
background-color: #F0FFFF;
  margin: 0;
  line-height: 2;
  text-align: center;
  font-family: 'Merriweather',serif;
}

h1{
  text-shadow: 1px 1px 2px 	#00FFFF;
  margin-top: 1px;
padding-top: 160px;
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento',cursive;
}
h2{
  text-shadow: 0.5px 0.5px 1px #0000CD;
  line-height: 0.5px;
  color: #66BFBF;
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

hr{
  width: 60px;
  border: none;
border-top: 5px dotted #AFEEEE;
margin: 40px auto 80px auto;
}
h3{
  padding-top: 30px;
  color: #11999E;
  font-family:'Montserrat',sans-serif;

}

.topcontainer{
  background-color: #E4F9F5;
  position: relative;
  height: 1300px;


}


.hill{
  width: 700px;
margin-top: 120px;
  height: auto;
}

.self{
  padding-top: 70px;
width: 200px;
border-radius: 50%;
}
.hello{

  margin: 60px auto 30px auto;
  color: #40514E;
  width: 500px;
}
.special{
  background-color: #FFFAFA;
  padding: 0.3px 2px 0.3px 2px;
}
.quote{
 text-shadow: 0.3px 0.3px 0.5px solid red;
  line-height: 1.5;
  font-size: 16px;
}
.school{
  margin-top: 50px;
  width: 180px;
  height: auto;
  margin-left: 160px;
}
.edu{

  line-height: 1.5;
  color: #40514E;
  font-size: 16px;
  float: right;
  margin-right: 180px;
  margin-top: 70px;
}

.book{

  width: 230px;
  height: auto;
margin-top: 25px;
margin-right: 180px;
}
.computer{
  line-height: 1.5;
  color: #40514E;
  font-size: 18px;
  margin-top: 90px;
  margin-left: 230px;
  float: left

}
.novel{
  margin-top: 50px;
  width: 180px;
  height: auto;
  margin-left: 120px;

}
.hobbies{
  width: 200px;
  line-height: 1.5;
  color: #40514E;
  font-size: 16px;
  float: right;
  margin-right: 200px;
  margin-top: 70px;

}
.favourite{
  background-color: #FFFAFA;
  height: 260px;
}
.f2{
  text-align: center;
  margin-left: 300px;
  padding-top: 10px;

}

.falling{
width: 160px;
height: auto;
margin-top: 100px;
float: right;
margin-right: 150px;
}

.writer{
  line-height: 1.5;
  color: #40514E;
  font-size: 16px;
  margin-left: 200px;
  padding-top: 30px;



}
.novelist{
  color: 		#000080;
  text-decoration: none;
}

.novelist:hover{
  color: 	#A9A9A9;
}
.love{
  padding-top: 20px;
  font-size: 16px;
  color: #11999E;
}
.code{
  font-size: 16px;
  line-height: 1.5;

}
.bottom{
  margin-top: 50px;
  width: 100%;
  height: 80px;
  background-color: #11999E;
}
.bottom{
  padding-top: 30px;
}
.details{
  color: #66BFBF;
margin: 26px;
height: 15px;
text-decoration: none;
}
.details:hover{
  color: #AFEEEE;
}
